body {
    margin: 0;
    padding: 0;
    background: #004d40;    
}

#start {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background: #e0f2f1;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
}

.btn-next {        
    background: #26a69a;
    padding: 15px 70px;
    color: #e0f2f1;
    font-size: 30px;   
    margin-top: 50px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-next:hover {
    background: #00897b;
    color: #b2dfdb;  
}

#test {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background: #e0f2f1;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
}

hr {
    border-top: 3px solid #26a69a;
}

#result {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background: #e0f2f1;
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    width: 90%;
}